<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Apresentação</title>
</head>

<body>

<p> <font color="blue" size="6"> <b>Esse é meu primeiro site feito em Python e usando html.</b> </font> </p>
    <img src="C:\Users\Kaique\PycharmProjects\Primeiro Site\minha.jpg"
    width="250"
    height="250">
<form action="file:///C:/Users/Kaique/PycharmProjects/Primeiro%20Site/templates/contatos.html">
    <input type="submit" value="Ir para os meus contatos" />
</form>
</body>
<body style="background-color:Antiquewhite">
</html>